In [1]:
!pip install pyspark >> None

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when, isnull

In [6]:
spark = SparkSession.builder.appName("EmployeeSalary").getOrCreate()

In [7]:
data = [
    (1, "Joe", 70, 3),
    (2, "Henry", 80, 4),
    (3, "Sam", 60, None),
    (4, "Max", 90, None)
]
columns = ["id", "name", "salary", "managerId"]
df = spark.createDataFrame(data, columns)

In [8]:
manager_df = df.alias("m").join(
    df.alias("e"),
    col("m.id") == col("e.managerId"),
    "left"
).select(
    "e.name", "e.salary", "m.name", "m.salary"
).filter(
    (col("e.salary") > col("m.salary")) | col("m.salary").isNull()
)

In [9]:
manager_df.show()

+----+------+----+------+
|name|salary|name|salary|
+----+------+----+------+
| Joe|    70| Sam|    60|
+----+------+----+------+